openapi: 3.0.1
info:
  title: Cloud API
  description: OD Cloud API 입니다.
  version: 0.0.1
servers:
- url: https://cloud.odlab.kr
tags: []
paths:
  /accounts:
    post:
      tags:
      - Account
      summary: 계정 등록 API
      description: 구글 인증 토큰과 사용자 정보로 계정을 등록합니다. <br> 그룹 ID 를 입력한 경우 기존 그룹에 가입 요청을
        하고 신규 그룹 이름을 입력하면 새로운 그룹이 생성됩니다.
      operationId: "[계정 등록 API] "
      parameters:
      - name: googleAuthorization
        in: header
        description: 구글 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer google-token-123
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 계정 등록 API"
            examples:
              '[계정 등록 API] 이미 존재하는 그룹명 입력':
                value: |-
                  {
                    "name" : "홍길동",
                    "groupId" : null,
                    "newGroupName" : "기존 그룹"
                  }
              '[계정 등록 API] success':
                value: |-
                  {
                    "name" : "홍길동",
                    "groupId" : "group-abc123",
                    "newGroupName" : null
                  }
              '[계정 등록 API] 이름 미입력':
                value: |-
                  {
                    "name" : null,
                    "groupId" : "group-abc123",
                    "newGroupName" : null
                  }
              '[계정 등록 API] 구글 사용자 정보 조회 오류':
                value: |-
                  {
                    "name" : "홍길동",
                    "groupId" : "group-abc123",
                    "newGroupName" : null
                  }
              '[계정 등록 API] 등록되지 않은 그룹명 입력':
                value: |-
                  {
                    "name" : "홍길동",
                    "groupId" : "non-existent-group",
                    "newGroupName" : null
                  }
              '[계정 등록 API] 이미 등록된 사용자 정보 입력':
                value: |-
                  {
                    "name" : "홍길동",
                    "groupId" : "group-abc123",
                    "newGroupName" : null
                  }
              '[계정 등록 API] 유효하지 않은 구글 토큰 입력':
                value: |-
                  {
                    "name" : "홍길동",
                    "groupId" : "group-abc123",
                    "newGroupName" : null
                  }
              '[계정 등록 API] success_with_new_group':
                value: |-
                  {
                    "name" : "홍길동",
                    "groupId" : null,
                    "newGroupName" : "새로운 그룹"
                  }
      responses:
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[계정 등록 API] 이미 존재하는 그룹명 입력':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4007,
                        "errorMessage" : "등록된 그룹 정보 입니다"
                      }
                    }
                '[계정 등록 API] 구글 사용자 정보 조회 오류':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4008,
                        "errorMessage" : "구글 사용자 정보 조회중 오류가 발생했습니다"
                      }
                    }
                '[계정 등록 API] 등록되지 않은 그룹명 입력':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4009,
                        "errorMessage" : "등록되지 않은 그룹 입니다"
                      }
                    }
                '[계정 등록 API] 이미 등록된 사용자 정보 입력':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4002,
                        "errorMessage" : "등록된 사용자 정보 입니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[계정 등록 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
                '[계정 등록 API] success_with_new_group':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[계정 등록 API] 이름 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "이름은 필수값 입니다"
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[계정 등록 API] 유효하지 않은 구글 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2003,
                        "errorMessage" : "유효한 구글 토큰이 아닙니다"
                      }
                    }
    patch:
      tags:
      - Account
      summary: 계정 정보 수정 API
      description: "사용자의 닉네임과 프로필 사진을 수정합니다. <br>RestDocs API 문서 작성 모듈 특성상 Multipart\
        \ 입력 파라미터 정보 기록에 한계가 있어 아래 목록을 참고하시어 요청 바랍니다. <br><br>[입력받는 멀티파트 파라미터 목록]<br>-\
        \ nickname : 수정할 닉네임 (선택) <br>- pictureFile : 수정할 프로필 사진 파일 (선택, PNG/JPG/JPEG\
        \ 형식만 가능) <br>테스트시 우측 자물쇠를 클릭하여 유효한 인증 토큰을 입력해야 정상 테스트가 가능합니다. <br>(요청 헤더에\
        \ 인증 토큰을 입력하여 테스트하지 않습니다)"
      operationId: "[계정 정보 수정 API] "
      parameters:
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer valid-token
      responses:
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[계정 정보 수정 API] 계정 정보 없음':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4003,
                        "errorMessage" : "조회된 사용자 정보가 없습니다"
                      }
                    }
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[계정 정보 수정 API] 유효하지 않은 파일 형식 입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "프로필 사진은 이미지만 등록 가능 가능합니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[계정 정보 수정 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
                '[계정 정보 수정 API] 프로필 사진만 수정':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
                '[계정 정보 수정 API] 닉네임만 수정':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[계정 정보 수정 API] 유효하지 않은 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
  /auth:
    put:
      tags:
      - Auth
      summary: 토큰 재발급 API
      description: 리프레시 토큰으로 새로운 액세스 토큰과 리프레시 토큰을 재발급합니다.
      operationId: "[토큰 재발급 API] "
      parameters:
      - name: refreshToken
        in: header
        description: 리프레시 토큰
        required: true
        schema:
          type: string
        example: mismatched-refresh-token
      responses:
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[토큰 재발급 API] Redis 토큰 불일치':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2002,
                        "errorMessage" : "유효한 리프레시 토큰이 아닙니다"
                      }
                    }
                '[토큰 재발급 API] 유효하지 않은 리프레시 토큰':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2002,
                        "errorMessage" : "유효한 리프레시 토큰이 아닙니다"
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[토큰 재발급 API] 계정 없음':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4003,
                        "errorMessage" : "조회된 사용자 정보가 없습니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[토큰 재발급 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "accessToken" : "new-access-token-abc123",
                        "refreshToken" : "new-refresh-token-xyz789"
                      }
                    }
    post:
      tags:
      - Auth
      summary: 토큰 발급 API
      description: 구글 인증 토큰으로 액세스 토큰과 리프레시 토큰을 발급합니다.
      operationId: "[토큰 발급 API] "
      parameters:
      - name: googleAuthorization
        in: header
        description: 구글 인증 토큰 (필수)
        required: true
        schema:
          type: string
        example: Bearer google-token-123
      responses:
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[토큰 발급 API] 구글 사용자 정보 조회 오류':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4008,
                        "errorMessage" : "구글 사용자 정보 조회중 오류가 발생했습니다"
                      }
                    }
                '[토큰 발급 API] 계정 없음':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4003,
                        "errorMessage" : "조회된 사용자 정보가 없습니다"
                      }
                    }
                '[토큰 발급 API] 승인된 그룹 없음':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4004,
                        "errorMessage" : "승인된 그룹이 없는 사용자 입니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[토큰 발급 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "accessToken" : "access-token-abc123",
                        "refreshToken" : "refresh-token-xyz789"
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[토큰 발급 API] 유효하지 않은 구글 토큰':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2003,
                        "errorMessage" : "유효한 구글 토큰이 아닙니다"
                      }
                    }
  /auth/google:
    get:
      tags:
      - Auth
      summary: 구글 OAuth2 콜백 API
      description: 구글 OAuth2 콜백을 처리하는 API 입니다.
      operationId: "[구글 OAuth2 콜백 API] "
      parameters:
      - name: code
        in: query
        description: 구글 OAuth2 인증 코드 (필수)
        required: true
        schema:
          type: string
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[구글 OAuth2 콜백 API] 구글 인증코드 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "구글 인증코드는 필수값 입니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[구글 OAuth2 콜백 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "googleAccessToken" : "google-access-token-123"
                      }
                    }
  /devices:
    post:
      tags:
      - Device
      summary: 디바이스 등록 API
      description: "사용자의 디바이스 정보를 등록하거나 업데이트합니다.<br><br>- 동일한 accountId, osType, deviceId\
        \ 조합이 존재하면 정보를 업데이트합니다.<br>- FCM 토큰이나 앱 버전이 변경된 경우 업데이트됩니다.<br>- 마지막 로그인 시\
        간(lastLoginDt)은 항상 갱신됩니다."
      operationId: "[디바이스 등록 API] "
      parameters:
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: error token
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 디바이스 등록 API"
            examples:
              '[디바이스 등록 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                value: |-
                  {
                    "osType" : "iOS",
                    "deviceId" : "device-123",
                    "appVersion" : "1.0.0",
                    "fcmToken" : "fcm-token-123"
                  }
              '[디바이스 등록 API] success':
                value: |-
                  {
                    "osType" : "iOS",
                    "deviceId" : "device-123",
                    "appVersion" : "1.0.0",
                    "fcmToken" : "fcm-token-123"
                  }
              '[디바이스 등록 API] appVersion 미입력':
                value: |-
                  {
                    "osType" : "iOS",
                    "deviceId" : "device-123",
                    "appVersion" : null,
                    "fcmToken" : "fcm-token-123"
                  }
              '[디바이스 등록 API] fcmToken 미입력':
                value: |-
                  {
                    "osType" : "iOS",
                    "deviceId" : "device-123",
                    "appVersion" : "1.0.0",
                    "fcmToken" : null
                  }
              '[디바이스 등록 API] osType 미입력':
                value: |-
                  {
                    "osType" : null,
                    "deviceId" : "device-123",
                    "appVersion" : "1.0.0",
                    "fcmToken" : "fcm-token-123"
                  }
              '[디바이스 등록 API] deviceId 미입력':
                value: |-
                  {
                    "osType" : "iOS",
                    "deviceId" : null,
                    "appVersion" : "1.0.0",
                    "fcmToken" : "fcm-token-123"
                  }
      responses:
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[디바이스 등록 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[디바이스 등록 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[디바이스 등록 API] appVersion 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "appVersion은 필수값 입니다"
                      }
                    }
                '[디바이스 등록 API] fcmToken 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "fcmToken은 필수값 입니다"
                      }
                    }
                '[디바이스 등록 API] osType 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "osType은 필수값 입니다"
                      }
                    }
                '[디바이스 등록 API] deviceId 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "deviceId는 필수값 입니다"
                      }
                    }
    patch:
      tags:
      - Device
      summary: 디바이스 정보 수정 API
      description: "사용자의 디바이스 정보를 수정합니다.<br><br>- pushYn: 푸시 알림 수신 여부 (Y/N)<br>- fcmToken:\
        \ FCM 푸시 토큰<br>- 두 필드 모두 선택적이며, 제공된 필드만 업데이트됩니다.<br>- osType과 deviceId로 대상\
        \ 디바이스를 식별합니다."
      operationId: "[디바이스 정보 수정 API] "
      parameters:
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 디바이스 정보 수정 API"
            examples:
              '[디바이스 정보 수정 API] deviceId 미입력':
                value: |-
                  {
                    "osType" : "iOS",
                    "deviceId" : null,
                    "pushYn" : "N",
                    "fcmToken" : "new-fcm-token"
                  }
              '[디바이스 정보 수정 API] osType 미입력':
                value: |-
                  {
                    "osType" : null,
                    "deviceId" : "device-123",
                    "pushYn" : "N",
                    "fcmToken" : "new-fcm-token"
                  }
              '[디바이스 정보 수정 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                value: |-
                  {
                    "osType" : "iOS",
                    "deviceId" : "device-123",
                    "pushYn" : "N",
                    "fcmToken" : "new-fcm-token"
                  }
              '[디바이스 정보 수정 API] success fcmToken only':
                value: |-
                  {
                    "osType" : "iOS",
                    "deviceId" : "device-123",
                    "pushYn" : null,
                    "fcmToken" : "new-fcm-token"
                  }
              '[디바이스 정보 수정 API] 디바이스 존재하지 않음':
                value: |-
                  {
                    "osType" : "iOS",
                    "deviceId" : "non-existent-device",
                    "pushYn" : "N",
                    "fcmToken" : "new-fcm-token"
                  }
              '[디바이스 정보 수정 API] success':
                value: |-
                  {
                    "osType" : "iOS",
                    "deviceId" : "device-123",
                    "pushYn" : "N",
                    "fcmToken" : "new-fcm-token"
                  }
              '[디바이스 정보 수정 API] success pushYn only':
                value: |-
                  {
                    "osType" : "iOS",
                    "deviceId" : "device-123",
                    "pushYn" : "N",
                    "fcmToken" : null
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[디바이스 정보 수정 API] deviceId 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "deviceId는 필수값 입니다"
                      }
                    }
                '[디바이스 정보 수정 API] osType 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "osType은 필수값 입니다"
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[디바이스 정보 수정 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[디바이스 정보 수정 API] success fcmToken only':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
                '[디바이스 정보 수정 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
                '[디바이스 정보 수정 API] success pushYn only':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[디바이스 정보 수정 API] 디바이스 존재하지 않음':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4023,
                        "errorMessage" : "조회된 디바이스가 없습니다"
                      }
                    }
  /files:
    get:
      tags:
      - File
      summary: 파일 및 폴더 목록 조회 API
      description: "파일 및 폴더 목록을 조회하는 API 입니다.<br><br>[검색 방법]<br>1. folderId로 검색: 특\
        정 폴더 내의 파일 및 하위 폴더 조회<br>2. keyword로 검색: 키워드가 포함된 파일/폴더 검색<br>3. groupId로\
        \ 필터링: 특정 그룹의 폴더만 필터링<br><br>[정렬 옵션]<br>- NAME_ASC: 이름 오름차순<br>- NAME_DESC:\
        \ 이름 내림차순<br>- REG_DT_ASC: 등록일시 오름차순<br>- REG_DT_DESC: 등록일시 내림차순<br><br>테스\
        트시 우측 자물쇠를 클릭하여 유효한 인증 토큰을 입력해야 정상 테스트가 가능합니다."
      operationId: "[파일 및 폴더 목록 조회 API] "
      parameters:
      - name: folderId
        in: query
        description: 폴더 ID
        required: false
        schema:
          type: string
      - name: groupId
        in: query
        description: 그룹 ID
        required: false
        schema:
          type: string
      - name: keyword
        in: query
        description: 검색 키워드
        required: false
        schema:
          type: string
      - name: sortType
        in: query
        description: 정렬 타입 (NAME_ASC / NAME_DESC / REG_DT_ASC / REG_DT_DESC)
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success-by-folderId"
              examples:
                '[파일 및 폴더 목록 조회 API] folderId로 조회 성공':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "parentFolderId" : 1,
                        "folders" : [ {
                          "id" : 11,
                          "name" : "Documents",
                          "groupId" : "group1",
                          "regDt" : "2024-01-01 12:00:00"
                        }, {
                          "id" : 12,
                          "name" : "Private",
                          "groupId" : "group1",
                          "regDt" : "2024-01-02 12:00:00"
                        } ],
                        "files" : [ {
                          "id" : 1,
                          "name" : "test1.txt",
                          "fileLoc" : "/group1/test1.txt",
                          "regDt" : "2024-01-01 12:00:00"
                        }, {
                          "id" : 2,
                          "name" : "test2.pdf",
                          "fileLoc" : "/group1/test2.pdf",
                          "regDt" : "2024-01-02 12:00:00"
                        } ]
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[파일 및 폴더 목록 조회 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[파일 및 폴더 목록 조회 API] 유효하지 않은 정렬 타입':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "유효하지 않은 정렬 타입 입니다"
                      }
                    }
    delete:
      tags:
      - File
      summary: 파일 삭제 API
      description: "여러 파일을 한 번에 삭제하는 API 입니다. <br>PRIVATE 폴더: 폴더 소유주만 파일 삭제 가능<br>PUBLIC\
        \ 폴더: 해당 폴더에 접근 가능한 사용자만 파일 삭제 가능<br>일부 파일만 삭제 성공해도 200 응답이지만 result는 false가\
        \ 됩니다.<br>테스트시 우측 자물쇠를 클릭하여 유효한 인증 토큰을 입력해야 정상 테스트가 가능합니다."
      operationId: "[파일 삭제 API] "
      parameters:
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 파일 삭제 API"
            examples:
              '[파일 삭제 API] error_file_not_found':
                value: |-
                  {
                    "fileIds" : [ 999 ]
                  }
              '[파일 삭제 API] success_multiple':
                value: |-
                  {
                    "fileIds" : [ 1, 2, 3 ]
                  }
              '[파일 삭제 API] partial_success':
                value: |-
                  {
                    "fileIds" : [ 1, 2 ]
                  }
              '[파일 삭제 API] success':
                value: |-
                  {
                    "fileIds" : [ 1 ]
                  }
              '[파일 삭제 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                value: |-
                  {
                    "fileIds" : [ 1 ]
                  }
              '[파일 삭제 API] error_forbidden':
                value: |-
                  {
                    "fileIds" : [ 1 ]
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[파일 삭제 API] error_file_not_found':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : false,
                        "logs" : [ {
                          "fileId" : 999,
                          "errorMessage" : "조회된 파일이 없습니다"
                        } ]
                      }
                    }
                '[파일 삭제 API] success_multiple':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true,
                        "logs" : [ {
                          "fileId" : 1,
                          "errorMessage" : null
                        }, {
                          "fileId" : 2,
                          "errorMessage" : null
                        }, {
                          "fileId" : 3,
                          "errorMessage" : null
                        } ]
                      }
                    }
                '[파일 삭제 API] partial_success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : false,
                        "logs" : [ {
                          "fileId" : 1,
                          "errorMessage" : null
                        }, {
                          "fileId" : 2,
                          "errorMessage" : "조회된 파일이 없습니다"
                        } ]
                      }
                    }
                '[파일 삭제 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true,
                        "logs" : [ {
                          "fileId" : 1,
                          "errorMessage" : null
                        } ]
                      }
                    }
                '[파일 삭제 API] error_forbidden':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : false,
                        "logs" : [ {
                          "fileId" : 1,
                          "errorMessage" : "접근 권한이 없습니다"
                        } ]
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[파일 삭제 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
  /files/download:
    get:
      tags:
      - File
      summary: 파일 목록 다운로드 API
      description: "파일 목록을 ZIP으로 압축하여 다운로드하는 API 입니다. <br>압축 파일명 형식: files_yyyyMMdd_HHmmss.zip\
        \ <br>테스트시 우측 자물쇠를 클릭하여 유효한 인증 토큰을 입력해야 정상 테스트가 가능합니다."
      operationId: "[여러 파일 다운로드 API] "
      parameters:
      - name: fileIds
        in: query
        description: 다운로드할 파일 ID 목록 (최소 1개 이상)
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[여러 파일 다운로드 API] 빈 파일 ID 목록':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "파일 아이디 목록은 필수값 입니다"
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[여러 파일 다운로드 API] 파일 다운로드 에러':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4016,
                        "errorMessage" : "파일 다운로드중 오류가 발생했습니다"
                      }
                    }
                '[여러 파일 다운로드 API] 파일 조회 실패':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4015,
                        "errorMessage" : "조회된 파일이 없습니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[여러 파일 다운로드 API] success':
                  value: Mock ZIP content
  /files/{fileId}:
    patch:
      tags:
      - File
      summary: 파일 정보 수정 API
      description: "파일명 또는 폴더를 변경하는 API 입니다. <br>파일명과 폴더 아이디는 모두 옵션입니다. <br>- 파일명만\
        \ 입력: 파일명만 변경 <br>- 폴더 아이디만 입력: 파일을 다른 폴더로 이동 <br>- 둘 다 입력: 파일명 변경 후 다른 폴더\
        로 이동 <br>폴더 이동 시 해당 폴더에 대한 접근 권한을 확인합니다. <br>동일한 이름의 파일이 이미 존재하는 경우 오류가 발생\
        합니다."
      operationId: "[파일 정보 수정 API] "
      parameters:
      - name: fileId
        in: path
        description: 파일 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 파일 정보 수정 API"
            examples:
              '[파일 정보 수정 API] 파일명과 폴더 동시 변경':
                value: |-
                  {
                    "fileName" : "new-name.txt",
                    "folderId" : 2
                  }
              '[파일 정보 수정 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                value: |-
                  {
                    "fileName" : "new-name.txt",
                    "folderId" : null
                  }
              '[파일 정보 수정 API] 접근 권한 없음':
                value: |-
                  {
                    "fileName" : null,
                    "folderId" : 2
                  }
              '[파일 정보 수정 API] 중복된 파일명':
                value: |-
                  {
                    "fileName" : "duplicate.txt",
                    "folderId" : null
                  }
              '[파일 정보 수정 API] 대상 폴더 없음':
                value: |-
                  {
                    "fileName" : null,
                    "folderId" : 999
                  }
              '[파일 정보 수정 API] 파일 없음':
                value: |-
                  {
                    "fileName" : "new-name.txt",
                    "folderId" : null
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[파일 정보 수정 API] 파일명과 폴더 동시 변경':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[파일 정보 수정 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[파일 정보 수정 API] 접근 권한 없음':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4019,
                        "errorMessage" : "접근 권한이 없습니다"
                      }
                    }
                '[파일 정보 수정 API] 중복된 파일명':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4017,
                        "errorMessage" : "이미 사용중인 파일명 입니다"
                      }
                    }
                '[파일 정보 수정 API] 대상 폴더 없음':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4012,
                        "errorMessage" : "조회된 폴더가 없습니다"
                      }
                    }
                '[파일 정보 수정 API] 파일 없음':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4015,
                        "errorMessage" : "조회된 파일이 없습니다"
                      }
                    }
  /files/{fileId}/download:
    get:
      tags:
      - File
      summary: 파일 다운로드 API
      description: 파일을 다운로드하는 API 입니다. <br>테스트시 우측 자물쇠를 클릭하여 유효한 인증 토큰을 입력해야 정상 테스트가
        가능합니다.
      operationId: "[단일 파일 다운로드 API] "
      parameters:
      - name: fileId
        in: path
        description: 다운로드할 파일 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      responses:
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[단일 파일 다운로드 API] 파일 조회 실패':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4015,
                        "errorMessage" : "조회된 파일이 없습니다"
                      }
                    }
                '[단일 파일 다운로드 API] 파일 다운로드 에러':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4016,
                        "errorMessage" : "파일 다운로드중 오류가 발생했습니다"
                      }
                    }
        "200":
          description: "200"
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[단일 파일 다운로드 API] success':
                  value: Test file content
  /folders:
    post:
      tags:
      - File
      summary: 폴더 생성 API
      description: 폴더를 생성하는 API 입니다.
      operationId: "[폴더 등록 API] "
      parameters:
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: error token
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 폴더 등록 API"
            examples:
              '[폴더 등록 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                value: |-
                  {
                    "parentId" : 1,
                    "groupId" : "group-123",
                    "name" : "새 폴더"
                  }
              '[폴더 등록 API] 중복된 폴더명':
                value: |-
                  {
                    "parentId" : 1,
                    "groupId" : "group-123",
                    "name" : "중복 폴더"
                  }
              '[폴더 등록 API] 부모 폴더 아이디 미입력':
                value: |-
                  {
                    "parentId" : null,
                    "groupId" : "group-123",
                    "name" : "새 폴더"
                  }
              '[폴더 등록 API] success':
                value: |-
                  {
                    "parentId" : 1,
                    "groupId" : "group-123",
                    "name" : "새 폴더"
                  }
              '[폴더 등록 API] 그룹 아이디 미입력':
                value: |-
                  {
                    "parentId" : 1,
                    "groupId" : null,
                    "name" : "새 폴더"
                  }
              '[폴더 등록 API] 부모 폴더 없음':
                value: |-
                  {
                    "parentId" : 999,
                    "groupId" : "group-123",
                    "name" : "새 폴더"
                  }
              '[폴더 등록 API] 이름 미입력':
                value: |-
                  {
                    "parentId" : 1,
                    "groupId" : "group-123",
                    "name" : null
                  }
      responses:
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[폴더 등록 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[폴더 등록 API] 중복된 폴더명':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4013,
                        "errorMessage" : "이미 사용중인 폴더명 입니다"
                      }
                    }
                '[폴더 등록 API] 부모 폴더 없음':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4012,
                        "errorMessage" : "조회된 폴더가 없습니다"
                      }
                    }
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[폴더 등록 API] 부모 폴더 아이디 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "상위 폴더 ID는 필수값 입니다"
                      }
                    }
                '[폴더 등록 API] 그룹 아이디 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "그룹 ID는 필수값 입니다"
                      }
                    }
                '[폴더 등록 API] 이름 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "폴더명은 필수값 입니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[폴더 등록 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
  /folders/{fileId}:
    patch:
      tags:
      - Folder
      summary: 폴더 정보 수정 API
      description: "폴더의 이름, 상위 폴더를 수정하는 API 입니다"
      operationId: "[폴더 정보 수정 API] "
      parameters:
      - name: fileId
        in: path
        description: 수정할 폴더 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 폴더 정보 수정 API"
            examples:
              '[폴더 정보 수정 API] success_상위폴더_변경':
                value: |-
                  {
                    "name" : null,
                    "parentId" : 2
                  }
              '[폴더 정보 수정 API] success':
                value: |-
                  {
                    "name" : "수정된 폴더명",
                    "parentId" : 2
                  }
              '[폴더 정보 수정 API] 폴더 소유자 아님':
                value: |-
                  {
                    "name" : "수정된 폴더명",
                    "parentId" : null
                  }
              '[폴더 정보 수정 API] success_폴더명만_수정':
                value: |-
                  {
                    "name" : "수정된 폴더명",
                    "parentId" : null
                  }
              '[폴더 정보 수정 API] 존재하지 않는 폴더':
                value: |-
                  {
                    "name" : "수정된 폴더명",
                    "parentId" : null
                  }
              '[폴더 정보 수정 API] 다른 그룹의 폴더로 이동 시도':
                value: |-
                  {
                    "name" : null,
                    "parentId" : 99
                  }
              '[폴더 정보 수정 API] 폴더명 중복':
                value: |-
                  {
                    "name" : "기존 폴더명",
                    "parentId" : null
                  }
              '[폴더 정보 수정 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                value: |-
                  {
                    "name" : "수정된 폴더명",
                    "parentId" : null
                  }
              '[폴더 정보 수정 API] 존재하지 않는 상위 폴더':
                value: |-
                  {
                    "name" : null,
                    "parentId" : 999
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[폴더 정보 수정 API] success_상위폴더_변경':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
                '[폴더 정보 수정 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
                '[폴더 정보 수정 API] success_폴더명만_수정':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[폴더 정보 수정 API] 폴더 소유자 아님':
                  value: |-
                    {
                      "httpStatus" : 403,
                      "message" : "FORBIDDEN",
                      "data" : {
                        "errorCode" : 3001,
                        "errorMessage" : "접근권한이 없습니다"
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[폴더 정보 수정 API] 존재하지 않는 폴더':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4012,
                        "errorMessage" : "조회된 폴더가 없습니다"
                      }
                    }
                '[폴더 정보 수정 API] 다른 그룹의 폴더로 이동 시도':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4019,
                        "errorMessage" : "접근 권한이 없습니다"
                      }
                    }
                '[폴더 정보 수정 API] 폴더명 중복':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4013,
                        "errorMessage" : "이미 사용중인 폴더명 입니다"
                      }
                    }
                '[폴더 정보 수정 API] 존재하지 않는 상위 폴더':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4012,
                        "errorMessage" : "조회된 폴더가 없습니다"
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[폴더 정보 수정 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
  /folders/{folderId}:
    delete:
      tags:
      - Folder
      summary: 폴더 삭제 API
      description: 폴더 삭제 API 에러 케이스
      operationId: "[폴더 삭제 API] "
      parameters:
      - name: folderId
        in: path
        description: 삭제할 폴더 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      responses:
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[폴더 삭제 API] error_folder_not_found':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4012,
                        "errorMessage" : "조회된 폴더가 없습니다"
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[폴더 삭제 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[폴더 삭제 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[폴더 삭제 API] error_forbidden':
                  value: |-
                    {
                      "httpStatus" : 403,
                      "message" : "FORBIDDEN",
                      "data" : {
                        "errorCode" : 3001,
                        "errorMessage" : "접근권한이 없습니다"
                      }
                    }
  /folders/{folderId}/files:
    post:
      tags:
      - File
      summary: 파일 등록 API
      description: "파일을 등록하는 API 입니다. <br>RestDocs API 문서 작성 모듈 특성상 Multipart 입력 파\
        라미터 정보 기록에 한계가 있어 아래 목록을 참고하시어 요청 바랍니다. <br><br>[입력받는 멀티파트 파라미터 목록]<br>- files\
        \ : 업로드 파일 목록 <br>테스트시 우측 자물쇠를 클릭하여 유효한 인증 토큰을 입력해야 정상 테스트가 가능합니다. <br>(요청\
        \ 헤더에 인증 토큰을 입력하여 테스트하지 않습니다)"
      operationId: "[파일 등록 API] "
      parameters:
      - name: folderId
        in: path
        description: ""
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      responses:
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[파일 등록 API] 조회된 폴더 없음':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4012,
                        "errorMessage" : "조회된 폴더가 없습니다"
                      }
                    }
                '[파일 등록 API] 파일 업로드 에러':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4011,
                        "errorMessage" : "파일 업로드중 오류가 발생했습니다"
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[파일 등록 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[파일 등록 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
  /groups:
    get:
      tags:
      - Account
      summary: 그룹 목록 조회 API
      description: "그룹 목록을 조회하는 API 입니다.<br><br>- keyword='all': 모든 그룹 조회<br>- keyword≠\
        'all': 그룹 Description LIKE 검색<br><br>인증 토큰 없이 사용 가능합니다."
      operationId: "[그룹 목록 조회 API] 그룹 목록 조회 성공 ("
      parameters:
      - name: keyword
        in: query
        description: 검색 키워드 (필수)
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success_all"
              examples:
                '[그룹 목록 조회 API] 그룹 목록 조회 성공 (all)':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "groups" : [ {
                          "id" : "group-1",
                          "name" : "Development Team",
                          "ownerEmail" : "owner1@example.com",
                          "regDt" : "2024-01-01T12:00:00"
                        }, {
                          "id" : "group-2",
                          "name" : "Marketing Team",
                          "ownerEmail" : "owner2@example.com",
                          "regDt" : "2024-01-02T12:00:00"
                        }, {
                          "id" : "group-3",
                          "name" : "Sales Team",
                          "ownerEmail" : "owner3@example.com",
                          "regDt" : "2024-01-03T12:00:00"
                        } ]
                      }
                    }
                '[그룹 목록 조회 API] 그룹 목록 조회 성공 (keyword 검색)':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "groups" : [ {
                          "id" : "group-1",
                          "name" : "개발팀",
                          "ownerEmail" : "owner1@example.com",
                          "regDt" : "2024-01-01T12:00:00"
                        }, {
                          "id" : "group-3",
                          "name" : "개발 지원팀",
                          "ownerEmail" : "owner3@example.com",
                          "regDt" : "2024-01-03T12:00:00"
                        } ]
                      }
                    }
    post:
      tags:
      - Account
      summary: 그룹 등록 API
      description: 새로운 그룹을 생성하는 API 입니다
      operationId: "[그룹 등록 API] "
      parameters:
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 그룹 등록 API"
            examples:
              '[그룹 등록 API] success':
                value: |-
                  {
                    "name" : "테스트 그룹"
                  }
              '[그룹 등록 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                value: |-
                  {
                    "name" : "테스트 그룹"
                  }
              '[그룹 등록 API] 이미 등록된 그룹 정보 입력':
                value: |-
                  {
                    "name" : "테스트 그룹"
                  }
              '[그룹 등록 API] 그룹명 미입력':
                value: |-
                  {
                    "name" : null
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[그룹 등록 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 등록 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 등록 API] 이미 등록된 그룹 정보 입력':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4007,
                        "errorMessage" : "등록된 그룹 정보 입니다"
                      }
                    }
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 등록 API] 그룹명 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "그룹 이름은 필수값 입니다"
                      }
                    }
  /groups/pending-accounts:
    get:
      tags:
      - Group
      summary: 그룹 오너의 PENDING 상태 사용자 목록 조회 API
      description: "현재 로그인한 사용자가 오너로 있는 그룹의 PENDING 상태 사용자 목록을 조회하는 API입니다.<br><br>-\
        \ 그룹별로 묶어서 응답합니다.<br>- 각 사용자의 닉네임, 아이디(accountId), 요청날짜(requestDate)를 포함합니\
        다.<br>- PENDING 상태 사용자가 없는 그룹은 응답에 포함되지 않습니다."
      operationId: "[그룹 오너의 PENDING 상태 사용자 목록 조회 API] "
      parameters:
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: error token
      responses:
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 오너의 PENDING 상태 사용자 목록 조회 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success-empty"
              examples:
                '[그룹 오너의 PENDING 상태 사용자 목록 조회 API] 빈 목록 조회':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "groups" : [ ]
                      }
                    }
                '[그룹 오너의 PENDING 상태 사용자 목록 조회 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "groups" : [ {
                          "groupId" : "group-1",
                          "groupName" : "Test Group 1",
                          "pendingAccounts" : [ {
                            "accountId" : 10,
                            "nickname" : "User1",
                            "name" : "홍길동",
                            "email" : "user1@example.com",
                            "requestDate" : "2025-01-01T10:00:00"
                          }, {
                            "accountId" : 11,
                            "nickname" : "User2",
                            "name" : "김철수",
                            "email" : "user2@example.com",
                            "requestDate" : "2025-01-02T11:00:00"
                          } ]
                        }, {
                          "groupId" : "group-2",
                          "groupName" : "Test Group 2",
                          "pendingAccounts" : [ {
                            "accountId" : 12,
                            "nickname" : "User3",
                            "name" : "이영희",
                            "email" : "user3@example.com",
                            "requestDate" : "2025-01-03T12:00:00"
                          } ]
                        } ]
                      }
                    }
  /groups/self:
    get:
      tags:
      - Account
      summary: 현재 사용자의 그룹 정보 조회 API
      description: "현재 인증된 사용자가 속한 그룹의 정보를 조회하는 API 입니다.<br><br>- 가입된 그룹(activeGroups),\
        \ 가입 대기중인 그룹(pendingGroups), 가입 거부된 그룹(deniedGroups)을 분리하여 반환합니다.<br>- 가입된\
        \ 그룹: 그룹명, 매니저 정보, 구성원 목록(닉네임, 이메일), 활성 사용자 수, 내가 매니저인지 여부를 포함합니다.<br>- 대기\
        중인 그룹: 그룹명, 활성 사용자 수, 내가 매니저인지 여부만 포함합니다.<br>- 거부된 그룹: 그룹명, 거부 사유를 포함합니다.<br>-\
        \ 구성원 목록은 ACTIVE 상태이며 매니저를 제외한 멤버들입니다.<br>- 매니저인 그룹이 목록의 앞쪽에 정렬됩니다.<br>- 인\
        증 토큰(JWT)이 필수입니다."
      operationId: "[현재 사용자의 그룹 정보 조회 API] 현재 사용자의 그룹 정보 조회 성공"
      parameters:
      - name: Authorization
        in: header
        description: "인증 토큰 (Bearer {token})"
        required: true
        schema:
          type: string
        example: Bearer test-token-123
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[현재 사용자의 그룹 정보 조회 API] 현재 사용자의 그룹 정보 조회 성공':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "activeGroups" : [ {
                          "id" : "activeGroup-1",
                          "name" : "My Team",
                          "manager" : {
                            "nickname" : "Manager",
                            "email" : "manager@example.com"
                          },
                          "activeMemberCount" : 3
                        }, {
                          "id" : "activeGroup-2",
                          "name" : "Development Team",
                          "manager" : {
                            "nickname" : "OtherManager",
                            "email" : "other@example.com"
                          },
                          "activeMemberCount" : 2
                        } ],
                        "pendingGroups" : [ {
                          "id" : "pendingGroup",
                          "name" : "Marketing Team",
                          "activeMemberCount" : 1
                        } ],
                        "deniedGroups" : [ {
                          "id" : "deniedGroup",
                          "name" : "Sales Team",
                          "deniedCause" : "요청이 거부되었습니다"
                        } ]
                      }
                    }
  /groups/{groupId}:
    get:
      tags:
      - Group
      summary: 그룹 상세 조회 API
      description: "그룹 ID로 그룹의 상세 정보를 조회합니다. 그룹장, 멤버 목록, 최근 공지사항(최대 5개)을 포함합니다."
      operationId: "[그룹 상세 조회 API] "
      parameters:
      - name: groupId
        in: path
        description: 그룹 ID
        required: true
        schema:
          type: string
      responses:
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 상세 조회 API] 존재하지 않는 그룹 ID':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4009,
                        "errorMessage" : "등록되지 않은 그룹 입니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[그룹 상세 조회 API] 그룹 상세 조회 성공':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "id" : "test-group",
                        "name" : "My Team",
                        "manager" : {
                          "nickname" : "Manager",
                          "email" : "manager@example.com"
                        },
                        "members" : [ {
                          "nickname" : "Member1",
                          "email" : "member1@example.com"
                        }, {
                          "nickname" : "Member2",
                          "email" : "member2@example.com"
                        } ],
                        "activeMemberCount" : 3,
                        "notices" : [ {
                          "id" : 5,
                          "title" : "12월 27일 공지사항",
                          "content" : "공지사항 내용입니다."
                        }, {
                          "id" : 4,
                          "title" : "중요 공지",
                          "content" : "중요한 내용입니다."
                        } ]
                      }
                    }
  /groups/{groupId}/accounts:
    get:
      tags:
      - Account
      summary: 그룹 계정 목록 조회 API
      description: 특정 그룹에 속한 계정 목록을 조회합니다.
      operationId: "[그룹 계정 목록 조회 API] "
      parameters:
      - name: groupId
        in: path
        description: 그룹 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[그룹 계정 목록 조회 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "groupAccounts" : [ {
                          "id" : 1,
                          "groupId" : "group-123",
                          "accountId" : 100,
                          "name" : "홍길동",
                          "nickName" : "gildong",
                          "email" : "hong@example.com",
                          "status" : "ACTIVE",
                          "updateDt" : "2025-11-14T10:00:00",
                          "regDt" : "2025-11-09T10:00:00"
                        }, {
                          "id" : 2,
                          "groupId" : "group-123",
                          "accountId" : 200,
                          "name" : "김철수",
                          "nickName" : "chulsoo",
                          "email" : "kim@example.com",
                          "status" : "PENDING",
                          "updateDt" : "2025-11-13T10:00:00",
                          "regDt" : "2025-11-12T10:00:00"
                        } ]
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 계정 목록 조회 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
  /groups/{groupId}/join:
    post:
      tags:
      - Group
      summary: 그룹 가입 요청 API
      description: 그룹에 가입 요청을 생성하는 API 입니다. GroupAccount 상태가 PENDING으로 등록됩니다.
      operationId: "[그룹 가입 요청 API] "
      parameters:
      - name: groupId
        in: path
        description: 가입 요청할 그룹 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: error token
      responses:
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 가입 요청 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[그룹 가입 요청 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 가입 요청 API] 존재하지 않는 그룹 입력':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4009,
                        "errorMessage" : "등록되지 않은 그룹 입니다"
                      }
                    }
  /groups/{groupId}/notices:
    post:
      tags:
      - Group
      summary: 그룹 공지사항 등록 API
      description: 그룹장이 공지사항을 등록하고 그룹원들에게 푸시 알림을 전송하는 API 입니다
      operationId: "[그룹 공지사항 등록 API] "
      parameters:
      - name: groupId
        in: path
        description: 그룹 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 그룹 공지사항 등록 API"
            examples:
              '[그룹 공지사항 등록 API] 제목 자동 생성 성공':
                value: |-
                  {
                    "title" : null,
                    "content" : "공지사항 내용입니다."
                  }
              '[그룹 공지사항 등록 API] 그룹 소유자가 아님':
                value: |-
                  {
                    "title" : "공지사항 제목",
                    "content" : "공지사항 내용입니다."
                  }
              '[그룹 공지사항 등록 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                value: |-
                  {
                    "title" : "공지사항 제목",
                    "content" : "공지사항 내용입니다."
                  }
              '[그룹 공지사항 등록 API] 내용 미입력':
                value: |-
                  {
                    "title" : "공지사항 제목",
                    "content" : null
                  }
              '[그룹 공지사항 등록 API] success':
                value: |-
                  {
                    "title" : "공지사항 제목",
                    "content" : "공지사항 내용입니다."
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[그룹 공지사항 등록 API] 제목 자동 생성 성공':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
                '[그룹 공지사항 등록 API] success':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 공지사항 등록 API] 그룹 소유자가 아님':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4014,
                        "errorMessage" : "그룹 소유자만 처리할 수 있습니다"
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 공지사항 등록 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 공지사항 등록 API] 내용 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "내용은 필수값 입니다"
                      }
                    }
  /groups/{groupId}/useYn:
    patch:
      tags:
      - Account
      summary: 그룹 계정 노출 여부 변경 API
      description: 그룹 내 자신의 계정 노출 여부를 변경합니다. (Y 또는 N)
      operationId: "[그룹 계정 노출 여부 변경 API] "
      parameters:
      - name: groupId
        in: path
        description: 그룹 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 그룹 계정 노출 여부 변경 API"
            examples:
              '[그룹 계정 노출 여부 변경 API] success-Y':
                value: |-
                  {
                    "showYn" : "Y"
                  }
              '[그룹 계정 노출 여부 변경 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                value: |-
                  {
                    "showYn" : "Y"
                  }
              '[그룹 계정 노출 여부 변경 API] 등록되지 않은 그룹 사용자':
                value: |-
                  {
                    "showYn" : "Y"
                  }
              '[그룹 계정 노출 여부 변경 API] 유효하지 않은 노출 여부 입력':
                value: |-
                  {
                    "showYn" : "INVALID"
                  }
              '[그룹 계정 노출 여부 변경 API] success-N':
                value: |-
                  {
                    "showYn" : "N"
                  }
              '[그룹 계정 노출 여부 변경 API] 노출 여부 미입력':
                value: |-
                  {
                    "showYn" : null
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[그룹 계정 노출 여부 변경 API] success-Y':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
                '[그룹 계정 노출 여부 변경 API] success-N':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 계정 노출 여부 변경 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 계정 노출 여부 변경 API] 등록되지 않은 그룹 사용자':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4010,
                        "errorMessage" : "등록되지 않은 그룹 사용자 입니다"
                      }
                    }
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 계정 노출 여부 변경 API] 유효하지 않은 노출 여부 입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "유효하지 않은 노출 유무 입니다"
                      }
                    }
                '[그룹 계정 노출 여부 변경 API] 노출 여부 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "노출 유무는 필수값 입니다"
                      }
                    }
  /groups/{groupId}/notices/{noticeId}:
    put:
      tags:
      - Notice
      summary: 공지사항 수정 API
      description: 그룹장이 공지사항을 수정합니다.
      operationId: "[공지사항 수정 API] "
      parameters:
      - name: groupId
        in: path
        description: 그룹 ID
        required: true
        schema:
          type: string
      - name: noticeId
        in: path
        description: 공지사항 ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 공지사항 수정 API"
            examples:
              '[공지사항 수정 API] 공지사항 수정 성공':
                value: |-
                  {
                    "title" : "수정된 제목",
                    "content" : "수정된 내용"
                  }
              '[공지사항 수정 API] 그룹장이 아님':
                value: |-
                  {
                    "title" : "수정된 제목",
                    "content" : "수정된 내용"
                  }
              '[공지사항 수정 API] 존재하지 않는 공지사항':
                value: |-
                  {
                    "title" : "수정된 제목",
                    "content" : "수정된 내용"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[공지사항 수정 API] 공지사항 수정 성공':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[공지사항 수정 API] 그룹장이 아님':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4014,
                        "errorMessage" : "그룹 소유자만 처리할 수 있습니다"
                      }
                    }
                '[공지사항 수정 API] 존재하지 않는 공지사항':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4024,
                        "errorMessage" : "조회된 공지사항이 없습니다"
                      }
                    }
    delete:
      tags:
      - Notice
      summary: 공지사항 삭제 API
      description: 그룹장이 공지사항을 삭제합니다.
      operationId: "[공지사항 삭제 API] "
      parameters:
      - name: groupId
        in: path
        description: 그룹 ID
        required: true
        schema:
          type: string
      - name: noticeId
        in: path
        description: 공지사항 ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[공지사항 삭제 API] 공지사항 삭제 성공':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[공지사항 삭제 API] 그룹장이 아님':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4014,
                        "errorMessage" : "그룹 소유자만 처리할 수 있습니다"
                      }
                    }
                '[공지사항 삭제 API] 존재하지 않는 공지사항':
                  value: |-
                    {
                      "httpStatus" : 500,
                      "message" : "INTERNAL_SERVER_ERROR",
                      "data" : {
                        "errorCode" : 4024,
                        "errorMessage" : "조회된 공지사항이 없습니다"
                      }
                    }
  /groups/{groupId}/accounts/{accountId}/status:
    patch:
      tags:
      - Account
      summary: 그룹 계정 상태 변경 API
      description: 그룹 내 PENDING 상태인 계정의 상태를 변경합니다. (ACTIVE 또는 DENIED)
      operationId: "[그룹 계정 상태 변경 API] "
      parameters:
      - name: groupId
        in: path
        description: 그룹 ID
        required: true
        schema:
          type: string
      - name: accountId
        in: path
        description: 계정 ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 인증 토큰
        required: true
        schema:
          type: string
        example: Bearer test
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/[request] 그룹 계정 상태 변경 API"
            examples:
              '[그룹 계정 상태 변경 API] 유효하지 않은 상태값 입력':
                value: |-
                  {
                    "status" : "INVALID",
                    "deniedCause" : null
                  }
              '[그룹 계정 상태 변경 API] success-active':
                value: |-
                  {
                    "status" : "ACTIVE",
                    "deniedCause" : null
                  }
              '[그룹 계정 상태 변경 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                value: |-
                  {
                    "status" : "ACTIVE",
                    "deniedCause" : null
                  }
              '[그룹 계정 상태 변경 API] 그룹 소유자의 요청이 아님':
                value: |-
                  {
                    "status" : "ACTIVE",
                    "deniedCause" : null
                  }
              '[그룹 계정 상태 변경 API] 상태값 미입력':
                value: |-
                  {
                    "status" : null,
                    "deniedCause" : null
                  }
              '[그룹 계정 상태 변경 API] 등록되지 않은 그룹 사용자':
                value: |-
                  {
                    "status" : "ACTIVE",
                    "deniedCause" : null
                  }
              '[그룹 계정 상태 변경 API] success-denied':
                value: |-
                  {
                    "status" : "DENIED",
                    "deniedCause" : "그룹 가입 요건을 충족하지 못했습니다."
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 계정 상태 변경 API] 유효하지 않은 상태값 입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "유효하지 않은 상태값 입니다. ACTIVE 또는 DENIED만 가능합니다."
                      }
                    }
                '[그룹 계정 상태 변경 API] 상태값 미입력':
                  value: |-
                    {
                      "httpStatus" : 400,
                      "message" : "BAD_REQUEST",
                      "data" : {
                        "errorCode" : 1099,
                        "errorMessage" : "상태는 필수값 입니다"
                      }
                    }
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] success"
              examples:
                '[그룹 계정 상태 변경 API] success-active':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
                '[그룹 계정 상태 변경 API] success-denied':
                  value: |-
                    {
                      "httpStatus" : 200,
                      "message" : "OK",
                      "data" : {
                        "result" : true
                      }
                    }
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 계정 상태 변경 API] 인증 토큰 미입력 혹은 만료된 토큰 입력':
                  value: |-
                    {
                      "httpStatus" : 401,
                      "message" : "UNAUTHORIZED",
                      "data" : {
                        "errorCode" : 2099,
                        "errorMessage" : "유효한 인증 토큰이 아닙니다"
                      }
                    }
        "500":
          description: "500"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/[response] error"
              examples:
                '[그룹 계정 상태 변경 API] 그룹 소유자의 요청이 아님':
                  value: |-
                    {
                      "httpStatus" : 500,
[...]
